footer{
    color:#f1f1f1;
    word-spacing: 6px;
    background-color: $primary;
    padding: $px-1;
    text-align:left;
    font-size: $textSmall;
}

.color__font{
    font-family: 'Roboto';
    font-style: italic;
}